.main {
  display: flex;
  flex-direction: column;
  background-color: rgb(91, 107, 102);
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.mainContent {
  display: flex;
}

.categories {
  display: flex;
  flex-direction: column;
}
