.main {
  height: 100vh;
  background: rgb(57, 73, 68);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContent {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.viewCategories {
  text-decoration: none;
  font-size: 2rem;
}

.logoCategories {
  display: flex;
}

.offers {
  margin-top: auto;
}
