.main {
  background-color: var(--tertiary-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.loadingComponent {
  display: flex;
  width: 100%;
  flex-grow: 1;
  background-color: aqua;
  text-align: center;
}

@media only screen and (max-width: 576px) {
  .mainContainer {
    width: 100%;
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  .mainContainer {
    /* background-color: rgb(1, 14, 9); */
    gap: 1rem;
  }
}

@media only screen and (min-width: 993px) {
  .mainContainer {
    /* background-color: rgb(1, 14, 9); */
    gap: 2rem;
  }
}

/* .mainContainer {
  width: 100%;
  padding: var(--primary-pd);
  display: flex;
  flex-direction: column;
} */

/* PRODUCT INFO AND DETAILS CONTAINER */

@media only screen and (max-width: 576px) {
  .productInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aliceblue; */
    /* background-color: rgb(80, 41, 187); */
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  .productInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 993px) {
  .productInfo {
    display: flex;
    flex-direction: column;
  }
}

/* .productInfo {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  align-items: center;
} */

/* PRODUCT HEADER */
.productHeader {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
}
.productHeader p {
  margin: -0.5rem 0;
}

@media only screen and (max-width: 576px) {
  .productHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aliceblue; */
    /* background-color: rgb(80, 41, 187); */
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  .productHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aliceblue; */
    /* background-color: rgb(80, 41, 187); */
  }
}

@media only screen and (min-width: 993px) {
  .productHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .productHeader p {
    margin: -0.5rem -1rem -0.5rem 0;
  }
}

.productTitle {
  font-family: var(--primary-font);
  font-size: 2rem;
  color: var(--secondary-color);
  font-weight: 900;
  /* color: #171738; */
}

.stars {
  display: flex;
  align-items: center;
  height: 2rem;
}

/*  PRODUCT IMAGE AND IMAGE FOOTER*/

.updateProductButtons {
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 150px;
  border: 1px solid black;
  background-color: var(--secondary-color);
  color: #ffffff;
  font-family: var(--primary-font);
  font-size: 1.4rem;
  padding: 0.25rem;
}

.increaseButton,
.decreaseButton {
  display: flex;
  background-color: var(--secondary-color);
  background-color: rgba(255, 255, 255, 0.993);
  color: var(--secondary-color);
  border: none;
  transition: all 0.2s ease-in-out;
}

.decreaseButton:hover {
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}
.increaseButton:hover {
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 576px) {
  .productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aliceblue; */
    /* background-color: rgb(80, 41, 187); */
  }
  .productImage {
    border: 1px solid rgba(0, 0, 0, 0.363);
    border-radius: 0.25rem;
    width: 300px;
    height: 350px;
    margin-top: 1em;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.41);
  }
  .productContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .addToCartButton {
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
    color: #fff;
    height: 3rem;
    margin-top: 0.5em;
    cursor: pointer;
  }
  .productDetails {
    background-color: aliceblue;
    padding: 1rem;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.41);
    border: 1px solid rgba(0, 0, 0, 0.493);
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  .productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aliceblue; */
    /* background-color: rgb(80, 41, 187); */
  }
  .productImage {
    border: 1px solid rgba(0, 0, 0, 0.363);
    border-radius: 0.25rem;
    width: 400px;
    height: 550px;
    margin-top: 1em;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.41);
  }
  .productContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .addToCartButton {
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
    color: #fff;
    height: 3rem;
    margin-top: 0.5em;
    cursor: pointer;
  }
  .productDetails {
    background-color: aliceblue;
    padding: 1rem;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.41);
    border: 1px solid rgba(0, 0, 0, 0.493);
  }
}

@media only screen and (min-width: 993px) {
  .productCard {
    display: flex;
    gap: 8em;
  }
  .productImage {
    border-radius: 0.25rem;
    width: 500px;
    height: 550px;
    margin-top: 1em;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.41);
  }
  .productContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .productDetails {
    background-color: aliceblue;
    padding: 1rem;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.41);
    border: 1px solid rgba(0, 0, 0, 0.493);
  }

  .addToCartButton {
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
    color: #fff;
    height: 3rem;
    margin-top: 0.5em;
    cursor: pointer;
  }
}

/* .productCard {
  display: flex;
  margin-right: 4rem;
  justify-content: space-between;
} */

/* .productContent {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.photoCredit {
  align-self: center;
  font-family: var(--primary-font);
  font-style: italic;
  font-weight: 500;
  color: #000;
}

.photoCredit a {
  color: rgb(10, 10, 10);
}

.productImage {
  margin-bottom: 0.5rem;
}

/* PRODUCT DETAILS */

.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.sizes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  font-family: var(--primary-font);
}
.sizes span {
  font-size: 1.1rem;
  margin-right: 0.5rem;
}

.stars {
  gap: 0.5rem;
  font-family: var(--secondary-font);
}
.productDescription {
  font-family: var(--secondary-font);
  font-weight: 500;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.185);
  padding: 1rem;
  /* mix-blend-mode: normal; */
}

.productStock {
  font-family: var(--secondary-font);
  margin: 0.75rem 0;
}

.productPrice {
  font-family: var(--secondary-font);
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.addToCartButton {
  font-family: var(--primary-font);
  background-color: var(--secondary-color);
  color: #fff;
  height: 3rem;
  border: none;
}

/* REVIEWS AND RELATED SECTION */

.relatedProductsTitle {
  font-family: var(--primary-font);
}

.relatedProductCard p {
  margin-top: 1rem;
}

.relatedProductCard:hover {
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
  scale: 1.02;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  margin-bottom: 1rem;
}

.reviewHeader p {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-style: italic;
}

.reviewDescription {
  font-family: var(--primary-font);
  font-size: 1.1rem;
}

@media only screen and (max-width: 576px) {
  .reviewsSection {
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.75rem;
  }

  .reviewCreateForm {
    display: flex;
    flex-direction: column;
  }
  .reviewsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25rem;
  }

  .reviewCard {
    background-color: aliceblue;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.452);
    padding: 1rem;
    width: 100%;
    margin-top: 1rem;
  }

  .relatedProductsTitle {
    align-self: start;
    margin-left: 1rem;
  }

  .relatedProductsContainer {
    display: flex;
    width: 65%;
    height: 450px;
    overflow: hidden;
    margin-bottom: 1rem;
  }
  .relatedProducts {
    display: flex;
    width: 100%;
    height: 480px;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    gap: 1rem;
    scroll-snap-type: x mandatory;
  }
  .relatedProductCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    height: 420px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding: 1rem;
    background-color: antiquewhite;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  .reviewsSection {
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .reviewCreateForm {
    display: flex;
    flex-direction: column;
  }
  .reviewsContainer {
    display: flex;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.452);
    padding: 0.5rem;
    background-color: aliceblue;

    flex-direction: column;
    align-items: center;
  }

  .reviewsContainer h3 {
    text-decoration: underline;
  }

  .reviewCard {
    background-color: aliceblue;
    padding: 1rem;
    width: 100%;
  }

  .relatedProductsTitle {
    align-self: start;
    margin-left: 0.25rem;
  }
  .relatedProductsContainer {
    display: flex;
    height: 450px;
    width: 97vw;
    overflow: hidden;
    padding: 0 0.25rem;
    margin-bottom: 1rem;
  }

  .relatedProducts {
    display: flex;
    width: 100%;
    height: 480px;
    /* background-color: aquamarine; */
    flex-direction: row;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 1rem;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
  }
  .relatedProductCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    height: 420px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding: 1rem;
    background-color: antiquewhite;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
  }

  .relatedProductImage {
    width: 250px;
    height: 280px;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1600px) {
  .reviewsSection {
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
  }

  .reviewsSection {
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
    width: 800px;
  }

  .reviewCreateForm {
    display: flex;
    flex-direction: column;
  }
  .reviewsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.452);
    padding: 0.5rem;
    background-color: aliceblue;
  }

  .reviewsContainer h3 {
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.329);
    text-underline-offset: 3px;
  }

  .reviewCard {
    background-color: aliceblue;

    /* box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.452); */
    padding: 1rem;
    width: 100%;
    /* margin-top: 1rem; */
  }

  .relatedProductsContainer {
    display: flex;
    width: 90vw;
    height: 450px;
    overflow: hidden;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .relatedProducts {
    scroll-snap-type: x mandatory;
  }

  .relatedProducts {
    display: flex;
    flex-direction: row;
    height: 480px;
    /* background-color: aquamarine; */
    flex-direction: row;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
  }
  .relatedProductCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    height: 420px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding: 1rem;
    background-color: antiquewhite;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
  }

  /* .relatedProductImage {
    width: 250px;
    height: 300px;
    scroll-snap-stop: always;
  } */

  /* .relatedProductImage {
    width: 250px;
    height: 280px;
  } */
}

@media only screen and (min-width: 1600px) {
  .reviewsSection {
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
    width: 800px;
  }

  .reviewCreateForm {
    display: flex;
    flex-direction: column;
  }
  .reviewsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.452);
    padding: 0.5rem;
    background-color: aliceblue;
  }

  .reviewsContainer h3 {
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.329);
    text-underline-offset: 3px;
  }

  .reviewCard {
    background-color: aliceblue;
    /* box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.452); */
    padding: 1rem;
    width: 100%;
    /* margin-top: 1rem; */
  }

  .relatedProductsContainer {
    overflow: hidden;
    height: 450px;
    max-width: 62.5%;
  }

  .relatedProducts {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 480px;
    /* background-color: aquamarine; */
    flex-direction: row;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
  }

  .relatedProductCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    height: 420px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding: 1rem;
    background-color: antiquewhite;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
  }

  .relatedProductImage {
    width: 250;
    height: 280;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  /* .relatedProductImage {
    width:;
    height: 280px;
  } */
}

/* .reviewsSection {
  width: 600px;
  height: 600px;
  font-family: var(--secondary-font);
  display: flex;
  flex-direction: column;
} */

/* .reviewsContainer {
  display: flex;
  flex-direction: column;
} */

/* .reviewCard {
  border: 1px solid black;
  margin-top: 1rem;
} */

/* .reviewRating {
  display: flex;
  justify-content: space-between;
  margin-top: var(--secondary-margin);
  margin-bottom: var(--secondary-margin);
} */

.reviewCreateForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.submitReviewButton {
  border: 1px solid rgba(0, 0, 0, 0.466);
  background: goldenrod;
  color: black;
  font-family: var(--primary-font);
  cursor: pointer;
  margin-top: 0.25rem;
  margin-left: auto;
  transition: all 0.2s ease-in-out;
}

.submitReviewButton:hover {
  background: var(--secondary-color);
  color: goldenrod;
  transition: all 0.2s ease-in-out;
}

.sliderButtons {
  display: flex;
  margin-bottom: 2rem;
  gap: 1rem;
}

.sliderButtons button {
  display: flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: aliceblue;
  border: 1px solid rgba(0, 0, 0, 0.404);
}

.sliderPrevious {
  transform: rotate(180deg);
}

.sliderButtons button:hover {
  scale: 1.1;
  background-color: rgba(240, 248, 255, 0.425);
}
