.main {
  /* background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); */
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.mainContent {
  position: relative;
}

@media only screen and (max-width: 576px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    ); */
    width: 100%;
  }
  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  /* .main {
  } */

  .mainContent {
    display: flex;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1600px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mainContent {
    display: flex;
    justify-content: center;
    position: relative;
  }
}

@media only screen and (min-width: 1601px) {
  .main {
    align-items: center;
  }

  .mainContent {
    display: flex;
  }
}
/* @media only screen and (max-width: 576px) {
  .productHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aliceblue; */
/* background-color: rgb(80, 41, 187); */

/* @media only screen and (min-width: 577px) and (max-width: 992px) {
  .productHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aliceblue; */

/* @media only screen and (min-width: 993px) {
  .productHeader {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
} */

/*  --------------HEADER-------------- */
.header {
  height: 100px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  position: sticky;
  top: 0;
  z-index: 999;
}
.headerLogo {
  text-decoration: none;
  font-style: italic;
  margin-left: 1rem;
}

.userData {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-right: 1rem;
  position: relative;
}

.cartLength {
  position: absolute;
  border: none;
  border-radius: 50%;
  background-color: #12121200;
  color: red;
  font-family: var(--secondary-font);
  font-weight: 900;
  left: 62px;
  top: -20px;
  font-size: 15px;
}
/* 
.cartModal {
  background-color: aqua;
  height: 100vh;
  z-index: 999;
  position: absolute;
  right: 0;
} */

.userData p {
  color: #ffffff;
}

@media only screen and (max-width: 576px) {
  .header {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    font-family: var(--primary-font);
    background: #121212;
    /* box-shadow: 2px 1px 1px 3px rgba(0, 0, 0, 0.75); */
  }
  .searchForm {
    display: flex;
    height: 30px;
    margin-left: auto;
  }

  .searchForm input {
    height: 100%;
    outline: none;
  }
  .searchForm button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .userData {
    margin-left: auto;
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--primary-font);
    background: #121212;
    width: 100%;
    /* box-shadow: 2px 1px 1px 3px rgba(0, 0, 0, 0.75); */
  }
  .searchForm {
    display: flex;
    height: 30px;
  }

  .searchForm input {
    height: 100%;
    outline: none;
  }
  .searchForm button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cartModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    min-height: 200vh;
    z-index: 999;
    position: absolute;
    right: 0;
    width: 20%;
  }

  .closeButton {
    align-self: flex-end;
  }
}

/* @media only screen and (min-width: 1600px) */

@media only screen and (min-width: 993px) and (max-width: 1600px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--primary-font);
    background: #121212;
    width: 100%;
    /* box-shadow: 2px 1px 1px 3px rgba(0, 0, 0, 0.75); */
  }

  .searchForm {
    display: flex;
    height: 30px;
  }

  .searchForm input {
    height: 100%;
    outline: none;
  }
  .searchForm button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headerLogo {
  }

  .userData {
  }
}

@media only screen and (min-width: 1600px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--primary-font);
    background: #121212;
    width: 100%;
    /* box-shadow: 2px 1px 1px 3px rgba(0, 0, 0, 0.75); */
  }
  .searchForm {
    display: flex;
    height: 30px;
  }

  .searchForm input {
    height: 100%;
    outline: none;
  }
  .searchForm button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  padding: var(--header-pd);
  font-family: var(--primary-font);
  background: #121212;
  box-shadow: 2px 1px 1px 3px rgba(0, 0, 0, 0.75);
  margin-bottom: 1rem;
} */

/* --------------SIDEBAR-------------- */

/* .sidebar {
} */

@media only screen and (max-width: 576px) {
  .sidebar {
    display: none;
  }

  .categoriesMenu {
    font-size: 1rem;
    display: flex;
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  .sidebar {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 25%;
    background-color: var(--primary-color);
    padding: var(--sidebar-pd);
    font-family: var(--primary-font);
    box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.212);
    min-height: 100vh;
    gap: 0.75rem;
    top: 100px;
    height: 100%;
  }

  .categoriesMenu {
    display: none;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1600px) {
  .sidebar {
    display: flex;
    position: sticky;
    align-items: flex-end;
    flex-direction: column;
    padding: var(--sidebar-pd);
    font-family: var(--primary-font);
    box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.212);
    min-height: 100vh;
    gap: 0.75rem;
    top: 100px;
    height: 100%;
  }
  .categoriesMenu {
    display: none;
  }
}

@media only screen and (min-width: 1600px) {
  .sidebar {
    display: flex;
    position: sticky;
    flex-direction: column;
    align-items: center;
    padding: var(--sidebar-pd);
    font-family: var(--primary-font);
    box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.212);
    min-height: 100vh;
    gap: 0.75rem;
    top: 100px;
    height: 100%;
  }
  .categoriesMenu {
    display: none;
  }
}

.category {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.category::after {
  content: '';
  height: 2px;
  width: 0%;
  background: goldenrod;
  display: block;
  transition: 0.25s ease-in-out;
}

.category:hover::after {
  content: '';
  height: 2px;
  width: 100%;
  background: goldenrod;
  display: block;
}

/* 
.categories {
  display: flex;
  flex-direction: column;
  background-color: aqua;
} */

/* --------------- PRODUCTS ------------- */

.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.41);
  width: 320px;
  height: 460px;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.productCard:hover {
  box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.41);
  scale: 1.02;
  transition: all 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.productImage {
  width: 320px;
  height: 350px;
}

.productFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0rem 3rem;
  margin-bottom: 0.75rem;
}

.productPrice {
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  font-weight: 700;
}

.productHeader {
  display: flex;
  align-items: center;
  font-family: var(--secondary-font);
  gap: 0.5rem;
  width: 100%;
  font-weight: 600;
  font-size: 1.1rem;
  margin-left: 0.5rem;
}

.updateProductButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  height: 50px;
  border: 1px solid black;
  background-color: var(--secondary-color);
  color: #ffffff;
  font-family: var(--primary-font);
  font-size: 1.4rem;
  padding: 0.25rem;
}

.increaseButton,
.decreaseButton {
  display: flex;
  background-color: var(--secondary-color);
  background-color: rgba(255, 255, 255, 0.993);
  color: var(--secondary-color);
  border: none;
  width: 40px;
  transition: all 0.2s ease-in-out;
}

.decreaseButton:hover {
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}
.increaseButton:hover {
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.addToCartButton {
  font-family: var(--primary-font);
  background-color: var(--secondary-color);
  color: #ffffff;
  height: 3rem;
  cursor: pointer;
  border-radius: 0.25rem;
  width: 120px;
  height: 50px;
}

.addToCartButton:hover {
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

@media only screen and (max-width: 576px) {
  .productsGalleryContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    flex-grow: 1;
  }
  /* .productFooter {
    display: flex;
    align-items: center;
    position: absolute;
    top: 290px;
    left: 170px;
  } */
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  .productsGalleryContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    flex-grow: 1;
    padding: 1rem;
  }
  /* .productFooter {
    display: flex;
    align-items: center;
    top: 290px;
  } */
}

@media only screen and (min-width: 993px) and (max-width: 1600px) {
  .loadingSpinner {
    display: flex;
    flex-grow: 1;
  }
  .productsGalleryContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    flex-grow: 1;
    padding: 1rem;
  }
  /* .productFooter {
    display: flex;
    align-items: center;
    position: absolute;
    top: 290px;
    left: 170px;
  } */
}

@media only screen and (min-width: 1600px) {
  .productsGalleryContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    flex-grow: 1;
    padding: 1rem 2rem;
  }

  .productCard {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.41);
    position: relative;
  }

  /* .productFooter {
    display: flex;
    align-items: center;
    position: absolute;
    top: 290px;
    left: 170px;
  } */
}

/* .productFooter {
  position: absolute;
  top: 315px;
  left: 205px;
} */

/*  -------------FOOTER-------------- */

.footer {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  margin-top: auto;
  background-color: rgb(40, 218, 218);
  font-family: var(--tertiary-font);
  padding: 1rem 2rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.footer div {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

@media only screen and (max-width: 576px) {
  .footer {
    justify-content: center;
  }
  .footer p {
    display: none;
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  .footer {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 993px) {
  .footer {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }
}
